<div id="merge-view" class="">
  <!-- Source panel -->
  <div class="source-panel">
    <!-- <merge-file-loader></merge-file-loader> -->
    <h4>{{titleSource}}</h4>
    <textarea class="ta-source" [(ngModel)]='sourceValue'></textarea>
  </div>

  <!-- Target panel -->
  <div class="target-panel">
    <!-- <merge-file-loader></merge-file-loader> -->
    <h4>{{titleTarget}}</h4>
    <textarea class="ta-target" [(ngModel)]='targetValue'></textarea>
   </div>

   <parsed-result></parsed-result>
</div>
