/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Arial';
}

input[type="button"] {
  padding: 6px 13px 8px;
  background-color: #F5F5F5;
  border: 1px solid #000;
  font-size: 14px;
}
